.outline {

    align-items: center;


}

.title {
    margin-left: 30%;
    margin-right: 30%;
    color: black;
    font-size: 1.5rem;
    justify-content: center;
    display: flex;
    flex-direction: row;
    border-bottom: 5px solid black;
}


.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.row .sb {
    padding: 1%;
    height: 1.5rem;
    width: 1.5rem;
    border: 5px solid black;
    margin: 1%;
    font-size: 1.5rem;
    align-content: center;

}

.correct {
    background-color: darkgreen;
    color: white;
}

.wrong {
    background-color: red;
    color: white;

}

.right {
    background-color: yellow;
    color: white;

}